.App {
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
    background-image: url('https://picsum.photos/id/18/2500/1667');
    background-size: cover;
    background-position: center;
    color: white;
}

.AppShadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
